.container-wrap{
height: 100vh;
background: url(../assets/img/bg2.jpg);
background-repeat: no-repeat;
background-size: cover;
width: 100%;
color: white;

padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .bottom-wrap{
        p{
            font-weight: 200;

        }
    }

}